
.highlight {
  fill: #7D828B /* gray color */
}

.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /* gap: 5px;  */
}

.chart-container svg {
  width: 540px;
  height: 500px;
}

#tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#dropdown-label {
  pointer-events: none;
}

@media (max-width: 600px) {

    /* Mobile responsive styles for screens with a maximum width of 600px */
    .chart-container {
      grid-template-columns: repeat(1, 1fr);
      /* Adjust the number of columns for mobile */
      grid-template-rows: repeat(8, 1fr);
      /* Increase the number of rows for mobile */
    }

    .chart-container svg {
      width: 70%;
      /* Make the SVGs occupy 100% width on mobile */
    }
  }
  